<div class="card">
    <div>
        <label class="titulo"> ¡Hola!</label>
        <h1>{{ perfil?.Nombre }}</h1>
    </div>
    <div>
        <h1 class="title">{{ perfil?.rol }} </h1>

    </div>
    <div>
        <img src="../../assets/usuarioapp.jpg" style="width:70%">
    </div>

    <div class="col-12">
        <p class="title">La cantidad de dioxido de carbono (CO2) que has dejado de emitir con tu actividad de reciclaje es de:</p>
    </div>

    <div class="row align-items-center" style="margin: 1%;
    border: 2px solid #fcc311;
    border-radius: 5px;
    background-color: #fcc311;
    color: #000000;">
        <div class="col-12" style="text-align: center; font-family: 'Times New Roman', Times, serif">
            <label class="title"><strong> {{ perfil?.Aporte }} Kg </strong> </label>
        </div>
    </div>
    <div class="col-12">
        <p class="title">Recuerda que por cada kg de material que se recupera, contribuyes a que se deje de emitir kilogramos de dioxido de carbono a la atmosfera, sigue asi!</p>
    </div>


</div>