<div style="margin:50px; ">
    <div class="row justify-content-center" *ngIf="mostrarLista">
        <div class=".col-sm-12 padre">
            <div class="cuadro">
                <label> Consulta los materiales que puedes reciclar</label>
            </div>
        </div>
        <div class="col-12" style="margin-top: 10px;">
            <table class="table table-striped">
                <thead>
                    <tr style="text-align: center;">
                        <th scope="col">#</th>
                        <th scope="col" sortable="name">Material</th>
                        <th scope="col" sortable="population">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let material of material; let i = index" style="text-align: center;">
                        <th style="text-align: center;">{{ i +1 }}</th>
                        <td style="text-align: center;">
                            {{ material?.nombre }}
                        </td>
                        <td style="text-align: center;">
                            {{ material?.Descripcion }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>