<div class="fondo">
    <div class="row align-items-center">
        <img src="../../assets/Logo4.png" width="150" height="150">
    </div>
</div>
<div class="fondoblanco">
    <div class="row align-items-center">
        <div class="col-12" style="text-align: center; font-family: 'Times New Roman', Times, serif">
            <label class="titulo"> Aplicación para la gestión integral de residuos sólidos</label>
        </div>
    </div>
    <div class="row align-items-center" style="margin: 5%;
    border: 2px solid #cfdbc7;
    border-radius: 5px;
    background-color: #cfdbc7;">
        <div class="col col-lg-6">
            <p style="padding: 2% 8%;"> Aqui puedes medir el impacto que tiene tu actividad de reciclaje frente al medio ambiente, ya que por cada kilogramo de desecho que se reclicle se dejan de emitir cierta cantidad de Kilogramos de gases de Dioxido de Carbono (CO2).
            </p>
        </div>
        <div class="col-md-auto" style="margin-bottom: 5px;">
            <img src="../../assets/Huella de Carbono.png" />
        </div>
    </div>
    <div class="row align-items-center" style="margin: 5%;
    border: 2px solid #cfdbc7;
    border-radius: 5px;
    background-color: #cfdbc7;">
        <div class="col col-lg-3">
            <p style="padding: 2% 8%;">
                De esta manera ayudas a la disminución de la contaminación, del aire y de la tierra!
            </p>
        </div>
        <div class="col-md-auto" style="margin-bottom: 5px;">
            <img src="../../assets/nature-photographer.jpg" style="width: 80%; height: auto;" />
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12">
            <p style="padding: 2% 8%;"> Solo hay que registrar los residuos sólidos que deseas reciclar, tales como el plástico, papel, cartón el vidrio, metales ferrosos y no ferrosos.
            </p>
        </div>
        <div class="col-12">
            <p style="padding: 2% 8%;"> También encontraras la lista de los materiales que se pueden reciclar y posteriormente entragar para su respectivo tratramiento.
            </p>
        </div>
    </div>
</div>