<div class="fondo">
    <div class="row align-items-center">
        <img src="../../assets/Logo.jpeg" width="150" height="150">
    </div>
</div>
<div class="fondoblanco">
    <div class="row align-items-center">
        <div class="col-12" style="text-align: center;">
            <label class="titulo"> Aplicación para la gestión integral de residuos sólidos</label>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12">
            <p style="padding: 2% 8%;"> Registro de residuos sólidos aprovechables (plástico, papel, cartón), residuos sólidos perenes (Vidrios, metales, ferrosos y no ferrosos) y visualización de indicadores generados a partir del proceso de registro dsdsds dsdsdsdsds
            </p>
        </div>
    </div>
</div>