<div class="fondo">
    <div class="row align-items-center">
        <img src="../../assets/Logo4.png" width="150" height="150">
    </div>

</div>


<div class="fondoblanco">


    <div class="row align-items-center" style="margin: 1%;
    border: 2px solid #f5f6fb;
    border-radius: 5px;
    background-color: #f5f6fb;
    color: #000000;">
        <div class="col-12" style="text-align: center; font-family: 'Times New Roman', Times, serif">
            <label class="titulo"> Gestión integral de residuos sólidos</label>
        </div>
    </div>

    <div class="row align-items-center" style="margin: 2%;
    border: 2px solid #feea3b;
    border-radius: 5px;
    background-color: #feea3b;
    color: #000000;">
        <div class="col-12" style="text-align: center; ">
            <p style="padding: 1% 8%;"><strong>¿Sabés cuanto contribuyes al medio 
                ambiente cuando separas y reciclas los residuos solidos?</strong>
            </p>
        </div>
    </div>



    <div class="row align-items-center" style="margin: 1%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;">
        <div class="col-12" style="text-align: center; font-family: 'Times New Roman', Times, serif">
            <label class="title"><strong> !Aquí puedes saberlo!, para ello solo hay que:  </strong> </label>
        </div>
    </div>

    <div class="col-12">
        <p style="padding: 2% 8%;">
            1. Separar los residuos aprovechables y organicos.
        </p>
    </div>
    <div class="col-md-auto" style="margin-bottom: 5px;">
        <img src="../../assets/Separar resiudos1.jpg" style="width: 60%; height: auto;" />
    </div>

    <div class="col-12">
        <p style="padding: 2% 8%;">
            2. Registrar los residuos a reciclar, como el el plástico, papel, cartón el vidrio, metales ferrosos y no ferrosos.
        </p>
    </div>
    <div class="col-md-auto" style="margin-bottom: 5px;">
        <img src="../../assets/RegistroCelular.jpg" style="width: 40%; height: auto;" />
    </div>

    <div class="col-12">
        <p style="padding: 2% 8%;">
            3. Consultar tu aporte personal!
        </p>
    </div>
    <div class="col-md-auto" style="margin-bottom: 5px;">
        <img src="../../assets/Aporte.jpg" style="width: 40%; height: auto;" />
    </div>

    <div class="col-12">
        <p style="padding: 2% 8%;">
            Aquí también encontraras la lista de los materiales que se pueden reciclar
        </p>
    </div>
    <div class="col-md-auto" style="margin-bottom: 5px;">
        <img src="../../assets/Lista de Materiales.jpg" style="width: 40%; height: auto;" />
    </div>



    <div class="row align-items-center" style="margin: 5%;
    border: 2px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;">
        <div class="col col-lg-3">
            <p style="padding: 2% 8%;">
                Consulta el menú de la aplicación para iniciar este proceso!
            </p>
        </div>

    </div>

    <div class="row align-items-center" style="margin: 5%;
    border: 2px solid #7ed957;
    border-radius: 5px;
    background-color:#7ed957;">
        <div class="col col-lg-6">
            <p style="padding: 2% 8%;"><strong>La fundación Asoanaporganicos te brinda el servicio de recolección de recolección de los residuos, si deseas saber mas información sobre ellos puedes visitarnos 
                en <a href="https://www.facebook.com/josejoaquin.rico.31" title="Asoanaporganicos">Asosanaporganicos</a> desde <a href="https://www.facebook.com/josejoaquin.rico.31" title="Flaticon">@facebook</a> </strong>

            </p>
        </div>

    </div>
    <div class="col col-lg-6">
        <div>Algunos iconos diseñados por <a href="https://www.flaticon.es/autores/icongeek26" title="Icongeek26">Icongeek26</a> de <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
    </div>
</div>