<div class="fondo">
    <div class="row align-items-center">
        <img src="../../assets/Logo4.png" width="160" height="160" class="imagenLogo">
    </div>
    <div class="row align-items-center">
        <div class="col-12" style="text-align: center;">
            <label> Aplicación para la gestión integral de residuos sólidos</label>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 padre">
            <div class="cuadro">
                <label> Esta aplicación te permite registrar los residuos sólidos aprovechables, tales como el plástico, papel y  cartón; 
                    y también los  residuos sólidos perenes como lo son el vidrio, metales ferrosos y no ferrosos. y visualización de indicadores generados a partir del proceso deregistro</label>
            </div>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-12 padre">
            <div class="cuadro">
                <p> Esta aplicación te permite registrar los residuos sólidos aprovechables, tales como el plástico, papel y cartón; y también los residuos sólidos perenes como lo son el vidrio, metales ferrosos y no ferrosos. y visualización de indicadores
                    generados a partir del proceso deregistro</p>
            </div>
        </div>
    </div>


</div>